    <div class="container mt-5 sticky-bottom">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #3f51b5">
      <!-- Grid container -->
      <div class="container">
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        <a class="text-white" target="_blank" href="https://vote.gov/register/<%=user.state%>/">CLICK HERE TO REGISTER TO VOTE</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    </div>
  <!-- End of .container -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>   
</body>
</html>